#contact {
	color: $blue;
	text-transform: uppercase;
	position: relative;
	background: url('../img/map-bg.svg') no-repeat;
	background-size: cover;
	height: 100%;
	background-position: 0% 100%;

	@media(max-width: $screen-sm-max){
		background: $white;
	}
	
	.container-wrapper {
		position: absolute;
		height: 100%;
		width: 100%;

		.map-wrapper {
			position: relative;
			height: 100%;
			display: flex;
			align-items: center;

			@media(max-width: $screen-sm-max){
				display: block;
			}

			.map {

				@media(max-width: $screen-sm-max){
					height: 30%;
					background: url('../img/map-bg.svg') no-repeat;
					background-size: cover;
					background-position: 0% 100%;
				}
			}

			.desc {
				background: $white;
				padding-top: 40px;
				@include padding-top-vw(40px);
				padding-bottom: 30px;
				@include padding-bottom-vw(30px);
				padding-left: 90px;
				@include padding-left-vw(90px);

				@media(max-width: $screen-sm-max){
					padding-top: 70px;
					padding-left: 0;
					display: flex;
					justify-content: center;
				}

				@media(max-width: $screen-sm-max){
					height: 70%;
					display: flex;
					align-items: center;
					justify-content: center;
					text-align: center;
					padding: 0;
				}

				.content {
					h3 {
						font-weight: bold;
						font-size: 26px;

						@media(max-width: $screen-xs-max){
							font-size: 20px;
						}
					}

					p {
						font-size: 20px;

						@media(max-width: $screen-xs-max){
							font-size: 15px;
						}

						&:last-child {
							margin-bottom: 0;
						}

						a {
							color: $blue;

							&:hover {
								text-decoration: none;
							}
						}
					}

					img.contact-logo {
						height: 128px;
						margin-bottom: 50px;

						@media(max-width: $screen-xs-max){
							height: 80px;
						}

						@media(max-width: $screen-sm-max){
							margin-bottom: 0px;
							margin-top: 15px;
						}

						@media(max-width: $screen-xs-max) and (orientation:landscape){
							display: none;
						}
					}
				}
			}
		}
	}
}