#contact {
	color: $blue;
	text-transform: uppercase;

	img {
		height: 100%;
	}

		.desc {
			
			h3 {
				font-size: 2.643em;
				font-weight: bold;
			}

			p {
				font-size: 1.762em;
				margin-bottom: 4em;

				&:last-child {
					margin-bottom: 0;
				}

				a {
					color: $blue;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}
}