.main-menu{
	width: 100%;
	height: auto;
	.nav{
		margin: 0 auto;
		background-color: #fff;
		height: 100px;
		width: 100%;

		.toggle-menu{
			display: none;
			float: right;
			height: inherit;
			width: 50px;
			margin-right: 5px;
			border: none;
			background: none;

			@media(max-width: 767px){
				display: block;
			}
		}
		.menu-header-menu-container{
			float: none;
			overflow: hidden;
			height: inherit;
			margin: 0 auto;

			.menu{
				padding: 0;
				margin: 0;
				height: inherit;
				overflow: hidden;
				background-color: #fff;
				text-align: center;
				li{
					cursor: pointer;
					list-style: none;
					text-transform: uppercase;
					padding: 0px;
					height: inherit;
					display: inline-flex;
					align-items: center;
					position: relative;
					transition: background 150ms ease-in-out;
					margin: 0 42px;
					a{
						height: inherit;
						width: 100%;
						line-height: 130px;
						color: $blue;
						font-size: 1.475em;
							
						&,
						&:visited, 
						&:focus, 
						&:active {
							text-decoration: none;
						}
					}
					&.active:before, &:hover:before{
						content: '';
						width: 100%;
						position: absolute;
						bottom: 0;
						left: 0;
						height: 6px;
						background-color: $blue;

					}
					&:hover{
						a{
							text-decoration: none;
						}
					}
				}
				@media(max-width: 767px){
					max-height: 0;
					height: auto;
					width: 100%;
					padding: 0;
					padding-top: 10px;
					transition: max-height 250ms ease-out,
					visibility 0s linear 250ms;
					visibility: hidden;
					li{
						width: 100%;
						height: 50px;
						padding-left: 15px;
						&.active:before{
							width: 3px;
							height: 100%;
						}
					}
				}
				&.opened{
					border-top: 1px solid #000;
					transition: max-height 250ms ease-in;
					transition-delay:0s;
					max-height: 500px;
					visibility: visible;
				}
			}
			@media(max-width: 767px){
				width: 100%;
				float: left;
			}
		}
	}
}