.nav-wrap {
	height: 62px;
	display: flex;
	align-items: flex-end;

	#navigation { 
		margin: 0 auto;
		list-style: none;
		position: relative;
		text-align: center;

		li { 
			display: inline-block;

			a { 
				color: $blue;
				font-size: 14px;
				display: block; 
				float: left; 
				padding: 6px 10px 4px 10px; 
				text-decoration: none; 
				text-transform: uppercase; 

				&:hover { 
					text-decoration: none;
				}
			} 
		}

		#magic-line { 
			position: absolute; 
			bottom: 0; 
			left: 0; 
			width: 100%; 
			height: 4px; 
			background: $blue; 
		}
	}
}
