#our-scope-of-work {
	color: $blue;
	min-height: 200vh;
	background-image: url('../img/bg-3.png');
	background-size: contain;
	background-position: top right;
	background-repeat: no-repeat;

	.wrapper {
		display: flex;
		align-items: center;
		min-height: 100vh;

		.label-container {
			padding-left: 0;

			.label {
				padding-left: 8.3333333333vw;
				margin: 0;
				background: $blue;
				color: $white;
				text-transform: uppercase;
				text-align: right;
				font-size: 40px;
				@include font-size-vw(40px);
				display: inline-block;
				width: auto;

				padding-top: 15px;
				@include padding-top-vw(15px);
				padding-right: 18px;
				@include padding-right-vw(18px);
				margin-bottom: 70px;
				@include margin-bottom-vw(70px);
				padding-bottom: 7px;
				@include padding-bottom-vw(7px);

				@media(max-width: $screen-xs-max){
					font-size: 18px;

				}
			}
		}

		.text {
			text-transform: uppercase;
			font-size: 40px;
			@include font-size-vw(40px);
			font-weight: bold;
			margin: 0;

			@media(max-width: $screen-xs-max){
				font-size: 18px;
			}

			li {
				position: relative;
				padding-left: 17vw;

				&:before {
					display: inline-block;
					height: 20px;
					width: 14.5vw;
					background: $blue;
					content: "";
					position: absolute;
					left: 0;
					height: 20px;
					@include height-vw(20px);
					top: 15px;
					@include top-vw(15px);

					@media(max-width: $screen-xs-max){
						height: 7px;
						top: 7px;
					}
				}
			}
		}
	}
}
