#we-worked-for {
	background: url('../img/work-bg.svg') no-repeat 100% 100%;
	color: $blue;
	position: relative;
	min-height: 100vh;

	@media(max-width: $screen-xs-max){
		background: transparent;
	}

	.container-wrapper {
		position: absolute;
		height: 100%;
		width: 100%;

		.wrapper {
			position: relative;
			height: 100%;

			.logos-wrapper {
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;

				@media(max-width: $screen-xs-max) {
					width: 100%;
				}

				.content {
					text-align: center;

					.heading {
						font-size: 35px;
						@include font-size-vw(35px);
						text-transform: uppercase;
						margin-bottom: 65px;
						@include margin-bottom-vw(65px);

						@media(max-width: $screen-xs-max) {
							font-size: 25px;
						}
					}

					.logos-list {
						height: 50vh;
						overflow-y: scroll;
						.item {
							margin-bottom: 65px;
							@include margin-bottom-vw(65px);

							@media(max-width: $screen-xs-max) and (orientation:landscape){
								margin-bottom: 5px;
							}
						}
					}
				}
			}

			.m-wrapper {
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;

				.logo {
					width: 50%;
				}
			}
		}
	}

	
}