#what-we-do {
	color: $white;
	background: $blue;
	position: relative;

	.people {
		.people-item {
			text-transform: uppercase;

			.photo {
				width: 100%;
				height: auto;
			}

			.name {
				text-align: center;
				font-weight: bold;
			}

			.position {
				text-align: center;
				font-weight: normal;
			}
		}
	}
}