#who-we-are {
	color: $blue;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	z-index: 1;
	
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: calc(50% - 22px);
		height: 100%;
		background-image: url('../img/bg-2.png');
		background-size: cover;
		background-position: right;
		background-repeat: no-repeat;
		z-index: 2;
	}

	@media(max-width: $screen-xs-max) and (orientation:landscape){
		display: flex;
		align-items: center;
	}
	
	.container-wrapper {

		.label{
			text-align: right;
			margin: 0;
			background-color: $blue;
			color: $white;
			text-transform: uppercase;
			width: 100%;
		}

		.wrapper {

			
		}
	}

	.animated-logo{
		left: 0;
	}
}