body {
	background-color: $white;
	font-family: $main-font;
}

.col-centered {
	margin: 0 auto;
	float: none;
}

section {
	min-height: 100vh;
	position: relative;

	.scroll-down {
		position: absolute;
		bottom: 35px;
		left: calc(50% - 21.5px);
	}

	.list-wrapper {
		display: flex;
		align-items: flex-start;
		text-transform: uppercase;

		@media(max-width: $screen-xs-max){
			margin: 50px 0;
		}

		.label {
			padding-top: 6px;
			padding-right: 25px;
			font-size: 35px;
			margin: 0;

			@media(max-width: $screen-sm-max){
				font-size: 23px;
			}
		}

		.list {
			list-style: none;
			margin: 0;
			padding: 0;

			.item {
				font-weight: bold;
				font-size: 35px;

				@media(max-width: $screen-sm-max){
					font-size: 23px;
				}
			}
		}
	}
}